<%= stylesheet_link_tag    'trips/trips', media: 'all' %>
<%= render 'users/navbar' %>

<ul>
  <% @trips.each do |trip| %>
    <li>
      <div class="trip">
        <div class="trip-logo">
          <% if trip.logo_file_name == nil %>
            <img src="/trip-default-logo.png" class="trip-logo">
          <% else %>
            <%= image_tag trip.logo.url(:thumb)%> 
          <% end %>
        </div>
        <div class="trip-info"> 
          <%= link_to trip.name, trip_path(trip) %> <br>
          Description: 
          <%= trip.description %> 
        </div>
      </div>
    </li>
    <hr>
  <% end %>
</ul>