<%= render 'users/navbar' %>
<h2>Create a new trip</h2>


<%= form_for [@current_user, @trip], url: {action: "create"} do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %><br />

		<%= f.label :description %>
		<%= f.text_field :description %><br />

		<%= f.label :initdate %>
		<%= f.date_field :initdate %><br />

		<%= f.label :enddate %>
		<%= f.date_field :enddate %><br />

	<%= f.submit "Create" %>
<% end %>