<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4hdPUfxsrY2F-P2e3N-TaVex_t3nBJ9I&libraries=places"></script>
<%= stylesheet_link_tag    'trips/show', media: 'all' %>

<%= render 'users/navbar' %>

<div class="body-content">
	<div id="tripInformation" data-id=<%= @trip.id %>>
		<h2> Trip: <%=@trip.name %></h2>

		<!--<p>
		  <strong>Init Date:</strong>
		  <%= @trip.initdate %>
		</p>

		<p>
		  <strong>End Date:</strong>
		  <%= @trip.enddate %>
		</p>-->
	</div>
	<div id="content">
		<div id="users">
			<% @trip.users.each do |user| %>
				<div id="user">
					<div id="userImage">
						<a href="/users/<%= user.id %>">
							<% if user.avatar_file_size != nil %>
			          <%= image_tag user.avatar.url(:common), class: "avatar"%>
			        <% else %>
			          <%= image_tag "https://www.gravatar.com/avatar/0?d=mm&f=y&s=60x60", class: "avatar"%>
			        <% end %>
			      </a>
		      </div>
		      <div id="userName">
		      	<%= user.firstname %>
		      	<%= user.lastname.split(" ")[0] %>
		      </div>
		    </div>
      <% end %>
      <button class="addUser">
      	<i class="fa fa-plus"></i>
      </button>
		</div>
		<div id="mapContainer">
			<div id="mapHeader">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  	<div class="tittle">
						  	<img src="/googleMarker.png" class="default-marker">
						    Locations( <%= @trip.initdate.strftime('%d-%m-%Y') %> - <%= @trip.enddate.strftime('%d-%m-%Y') %> )
					  </div>
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				  	<% order = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %>
				  	<% @locations.each_with_index do |location, index| %>
					    <li>
					    	<button href="#">
					    		<img src="/mapMarkers/<%= order[index] %>.png" class="location-marker">
							    <%= location.name %>( <%= location.initdate.strftime('%d-%m-%Y') %> - <%= location.enddate.strftime('%d-%m-%Y') %> )
					    	</button>
					   	</li>
					  <% end %>
				  </ul>
				</div>
				<button class="button button-action button-box new-location"><i class="fa fa-plus"></i></button>
			</div>
			<div id="locationsMap"> </div>

		</div>

		<div id="chatContainer">
			<div id="messages" data-trip-id="<%= @trip.id %>">
			  <%= render @trip.messages %>
			</div>

			<%= form_for @message, url: '#' do |f| %>
			  <%= hidden_field_tag 'trip_id', @trip.id %>
			  <div class="form-group">
			    <%= f.text_field :body, class: 'form-control', autocomplete: "false" , placeholder: "From 2 to 1000 characters" %>
			  	<%= f.submit "Send", class: 'btn btn-primary btn-md' %>
			  </div>
			<% end %>
		</div>
	</div>

	<%= render 'locations/new_location' %>
</div>

<%= javascript_include_tag 'trips/trip'%>
<%= javascript_include_tag 'channels/rooms'%>