<%= stylesheet_link_tag    'users/show', media: 'all' %>

<%= render 'navbar' %>

<% if @user != nil %>
	<div class="body-content">
		<div id="content">
			<div id="user">
				<div id="userImage">
					<% if @user.avatar_file_size != nil %>
	          <%= image_tag @user.avatar.url(:big), class: "avatar", id: "avatar" %>
	        <% else %>
	          <%= image_tag "https://www.gravatar.com/avatar/0?d=mm&f=y&s=250x250", class: "avatar", id: "avatar" %>
	        <% end %>
	        <% if @user == @current_user %>
	        	<%= form_for @user, url: "/user/upload", id: "myForm", method: "post" do |f| %>
						  <%= f.file_field :avatar, id: "upload-avatar", class: "btn btn-default btn-file"%>
						<% end %>
	        <% end %>
	      </div>
	      <div id="trips">

	      	<button class="trips-doing selected">
	      		<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
						<span class="sr-only">Loading...</span>
	      		Trips on board
	      		<%= @user.trips.where("enddate >= ? AND initdate <= ?", Date.today, Date.today).count() %>
	      	</button>

					<button class="trips-todo">
	      		<i class="fa fa-tasks fa-2x"></i>
	      		Trips to do
	      		<%= @user.trips.where("initdate > ?", Date.today).count()%>
	      	</button>

	      	<button class="trips-done">
	      		<span><i class="fa fa-check fa-2x"></i></span>
	      		Trips done
	      		<%= @user.trips.where("enddate < ?", Date.today).count() %>
	      	</button>
	    
	      </div>
			</div>
			<div id="info">
	      <div id="userName">
	      	<%= @user.firstname %>
	      	<%= @user.lastname %>
	      </div>

	      <div class="tripscontainer-doing" style="display: block">
					<ul class="trips-doing-list">
			      <% @user.trips.where("enddate >= ? AND initdate <= ?", Date.today, Date.today).each do |trip| %>
			        <li>
			          <div class="trip">
			            <div class="trip-logo">
			              <% if trip.logo_file_name == nil %>
			                <a href="/trips/<%= trip.id %>"><img src="/trip-default-logo.jpg" class="trip-logo"></a>
			              <% else %>
			                <%= image_tag trip.logo.url(:thumb)%> 
			              <% end %>
			            </div>
			            <div class="trip-info">
			              <div class="trip-name">
			              	<%= trip.name %>
			              </div>
			              <% trip.users.each do |user| %>
			                <a href="/users/<%= user.id %>"  title=<%= user.firstname %><%= user.lastname %> >
												<% if user.avatar_file_size != nil %>
								          <%= image_tag user.avatar.url(:common), class: "avatar"%>
								        <% else %>
								          <%= image_tag "https://www.gravatar.com/avatar/0?d=mm&f=y&s=60x60", class: "avatar"%>
								        <% end %>
								      </a>
			              <% end %> <br>
			              <%= trip.users.count %> people going 
			            </div>
			          </div>
			        </li>
			      <% end %>
			    </ul>
			  </div>

				<div class="tripscontainer-todo" style="display: none">
					<ul class="trips-todo-list">
			      <% @user.trips.where("initdate > ?", Date.today).each do |trip| %>
			        <li>
			          <div class="trip">
			            <div class="trip-logo">
			              <% if trip.logo_file_name == nil %>
			                <a href="/trips/<%= trip.id %>"><img src="/trip-default-logo.jpg" class="trip-logo"></a>
			              <% else %>
			                <%= image_tag trip.logo.url(:thumb)%>
			              <% end %>
			            </div>
			            <div class="trip-info">
			              <div class="trip-name">
			              	<%= trip.name %>
			              </div>
			              <div class="trip-people">
				              <% trip.users.each do |user| %>
				                <a href="/users/<%= user.id %>"  title=<%= user.firstname %><%= user.lastname %> >
													<% if user.avatar_file_size != nil %>
									          <%= image_tag user.avatar.url(:common), class: "avatar"%>
									        <% else %>
									          <%= image_tag "https://www.gravatar.com/avatar/0?d=mm&f=y&s=60x60", class: "avatar"%>
									        <% end %>
									      </a>
				              <% end %>
			              	<%= trip.users.count %> people going 
			              </div>
			            </div>
			          </div>
			        </li>
			      <% end %>
			    </ul>
			  </div>

				<div class="tripscontainer-done" style="display: none">
			    <ul class="trips-done-list">
			      <% @user.trips.where("enddate < ?", Date.today).each do |trip| %>
			        <li>
			          <div class="trip">
			            <div class="trip-logo">
			              <% if trip.logo_file_name == nil %>
			                <a href="/trips/<%= trip.id %>"><img src="/trip-default-logo.jpg" class="trip-logo"></a>
			              <% else %>
			                <%= image_tag trip.logo.url(:thumb)%> 
			              <% end %>
			            </div>
			            <div class="trip-info">
			              <div class="trip-name">
			              	<%= trip.name %>
			              </div>
			              <% trip.users.each do |user| %>
			                <a href="/users/<%= user.id %>"  title=<%= user.firstname %><%= user.lastname %> >
												<% if user.avatar_file_size != nil %>
								          <%= image_tag user.avatar.url(:common), class: "avatar"%>
								        <% else %>
								          <%= image_tag "https://www.gravatar.com/avatar/0?d=mm&f=y&s=60x60", class: "avatar"%>
								        <% end %>
								      </a>
			              <% end %> <br>
			              <%= trip.users.count %> people going 
			            </div>
			          </div>
			        </li>
			      <% end %>
			    </ul>
			  </div>
	    </div>
	  </div>
	</div>
<% else %>
	<%= render :file => 'public/404.html' %>
<% end %>

<%= javascript_include_tag 'users/show'%>