<%= stylesheet_link_tag    'users/show', media: 'all' %>

<%= render 'navbar' %>

<% if @user != nil %>
	<div class="body-content">
		<div id="content">
			<div id="user">
				<div id="userImage">
					<% if @user.avatar_file_size != nil %>
	          <%= image_tag @user.avatar.url(:profile), class: "avatar", id: "avatar" %>
	        <% else %>
	          <%= image_tag "https://www.gravatar.com/avatar/0?d=mm&f=y&s=250x250", class: "avatar", id: "avatar" %>
	        <% end %>
	        <% if @current_user == @user %>
	        	<form class="myForm" id="myForm" enctype="multipart/form-data" action="/user/upload" accept-charset="UTF-8" method="post">
						   <input id="upload-avatar" class="btn btn-default btn-file" type="file" name="user[avatar]">
						</form>
	        <% end %>
	      </div>
	      <div id="info">
		      <div id="userName">
		      	<%= @user.firstname %>
		      	<br>
		      	<%= @user.lastname %>
		      	<br>
		      </div>
		      <div id="trips">
		      	<% if @user.trips.count()==1 %>
		      		<%= @user.trips.count() %> trip done
		      	<% else %>
		      		<%= @user.trips.count() %> trips done
		      	<% end %>
		      </div>
		     </div>
			</div>
		</div>
	</div>
<% else %>
	<%= render :file => 'public/404.html' %>
<% end %>

<%= javascript_include_tag 'users/show'%>